# spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/spotify/callback
SPOTIFY_APP_BASE_URL=http://localhost:3000

# mongodb
MONGO_VERSION=8.2.6
MONGO_HOST_SERVER_PORT=7429
MONGO_DATABASE=mongo-example-db
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password